@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
  --cor-titulo:#101828;
  --cor-tilulo-logo: #3A404E;
  --cinza-primario:#667085;
  --vermelho-principal:#8E2424;
  --branco: #FFFFFF;
  --fundo-span: #F5DAD2;
  --border:#D0D5DD;
}
.body{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Inter";  
}

.logo-titulo{
  font-size: 18px;
  color: var(--cor-tilulo-logo);
}
.cabecalho{
  display: flex;
  justify-content: space-between;
  padding:0 2em;
}

.container{
  display:flex;
  padding: 1em;
  align-items: center;
  margin: 0 1em;
  gap: 1em;
}

.lista-menu{
  display: flex;
  list-style: none;
  margin: 0 10em 0;
  gap: 1em;
}

.lista-menu__item{
  display: flex;
}

.lista-menu__link{
  display: flex;
  text-decoration: none;
  color: var(--cinza-primario);
  font-size: 16px;
}

.container__link__primario{
  color: var(--cinza-primario);
  text-decoration: none;
}

.container__link__secudario{
  color: var(--branco);
  background-color: var(--vermelho-principal);
  padding: 1em;
  border-radius: 8px;
  text-decoration: none;
  width: 112px;
  text-align: center;
}

.container_sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10em;
  margin: 6em 1em;
}

.sobre-nos{
  color: var(--vermelho-principal);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.titulo-pricipal{
  color: var(--cor-titulo);
  font-size: 48px;
  font-weight: 700;
}

.descricao-principal{
  color: var(--cinza-primario);
  font-size: 20px;
}

.descricao-container{
  display: flex;
  margin:2.3em 24em ;
}

.metricas-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 280px 280px 280px 280px;
  padding: 56px;
  width: 75%;
  margin: 0 13%;
  gap: 32px;
}

.valor__metrica{
  font-size: 60px;
  color: var(--vermelho-principal);
  font-weight: 700;
}

.titulo__metrica{
  font-size: 18px;
  color: var(--cor-titulo);
  font-weight: 700;
}

.descricao__metrica{
  font-size: 16px;
  color: var(--cinza-primario)
}

.procurando-vagas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1em;
  gap: 1em;
}

.span__vagas{
  display: flex;
  justify-content: center;
  padding: 1em;
  color: var(--vermelho-principal);
  font-size: 16px;
  font-weight: 700;
}

.titulo__vagas{
  color: var(--cor-titulo);
  font-size: 36px;
  font-weight: 700;
  background-color: var(--branco);
}

.descricao__vagas{
  color: var(--cinza-primario);
  font-size: 20px;
}

.img__container{
  margin: 2em 15em;
}
.vagas{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container__titulo{
  font-size: 20px;
  color: var(--cor-titulo);
  font-weight: 600;
}

.container_vagas{
  margin: 0 25%;
}

.titulo_container{
  font-size: 20px;
  font-weight: 700;
}
.vagas{
  margin: 3em 1em;
}
.titulo-vaga{
  font-size: 18px;
  color: var(--cor-titulo);
  font-weight: 600;
}

.informações{
  display: flex;
  margin: 2em 0;
  gap: 2em;
}

.span_container{
  color: var(--cinza-primario);
  font-size: 18px;
}

.vagas2{
  margin: 3em 0;
}

.container__perfil{
  margin: 7em 0 0 0;
  text-align: center;
}
.container__perfil-items{
  display: flex;
  flex-direction: column;
  margin: 1em 23em;
  gap: 1em 0;
  
}
.sobre-empresa{
  color: var(--vermelho-principal);
  font-size: 15px;
  font-weight: 600;
}
.titulo__container-perfil{
  font-size: 36px;
  font-weight: 500;
  color: var(--cor-titulo);
}

.descricao__perfil{
  display: flex;
  flex-direction: column;
  gap: 0.5em 0;
}
.nome__perfil{
  color: var(--cor-titulo);
  font-size: 20px;
  font-weight: 600;
}

.paragrafo__perfil{
  color: var(--cinza-primario);
}


.newsletter{
  margin: 10em 0 0 0;
  text-align: center;
}

.itens__newsletter{
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  margin: 0 0 2em 0;
}

.titulo__newsletter{
  font-size: 36px;
  color: var(--cor-titulo);
  font-weight: 600;
}

.paragrafo__newsletter{
  color: var(--cinza-primario);
  font-size: 20px;
  font-weight: 400;
}

.input__email{
  background: transparent;
  border: var(--branco);
  width: 25em;
  padding: 1em;
  border: 2px solid var(--border);
  border-radius: 8px;
}
.input__email::placeholder{
  font-size: 15px;
}

.botao__newsletter{
  background-color: var(--vermelho-principal);
  color: var(--branco);
  text-decoration: none;
  border-radius: 8px;
  padding: 0.7em 1.2em;
}

.rodape{
  text-align: center;
  margin: 10em 0 0 0;
}

.descricao__rodape{
  font-size: 20x;
  font-weight: 500;
  color:var(--cinza-primario)
}
